*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --forest: #15241C;
  --green: #2B9F65;
  --white: #EDF2EF;
}

.body{
font-family: 'Montserrat', sans-serif;
}

.logo{
    font-family: 'Crimson Pro', serif;
}