/* global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --forest: #15241C;
  --green: #2B9F65;
  --white: #EDF2EF;
}

body{
font-family: 'Montserrat', sans-serif;
margin: 0;
padding: 0;
}

.logo{
    font-family: 'Crimson Pro', serif;
    font-weight: 600;
    font-size: 2.4vw;
}

.dark{
    color: var(--green);
    background-color: var(--forest);
}

.light{
    color: var(--forest);
    background-color: var(--white);
}

h1{
    font-size: 4.4vw;
    font-weight: 600;
}

h2{
    font-size: 3.4vw;
    font-weight: 500;
}

h3{
    font-size: 2.4vw;
    font-weight: 500;
}

p{
    font-size: 1.6vw;
    font-weight: 300;
}

.central-title{
    text-align: center;
    margin: 0;
}

/* section styles  */
nav{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1; 
    padding: 0 3vw;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-right{
    display: flex;
    font-size: 1.2vw;
    gap: 1.2vw;
    align-items: center;
}

.contact-btn{
    /* border: 0.15vw solid; */
    border-radius: 3.2vw; 
    padding: 1vw 1.5vw; 
    background-color: var(--green);
    color: var(--forest);
    font-weight: 600;
}

.landing-section{
    display: grid;
    grid-template-columns:1fr 1fr;
}

.landing-section img {
    width: 100%;
    height: auto; 
    display: block; 
    opacity: 0.9;
    object-fit: cover;
    clip-path: inset(2px 2px 2px 2px); 
}

.la-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 6vw;
}

.services-section{
    display: grid;
    grid-template-columns:1fr 2fr;
    padding: 0 3vw;
    gap: 6vw;
}

.accordion-container{
    margin: 4vw 0 ;
}

.accordion-item{
    border-top: solid 0.3vw;
    border-bottom: solid 0.3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -0.15vw 0;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

.active {
    max-height: 100vh; 
    transition: max-height 0.8s ease-in;
}

.accordion-content p{
    padding: 1.4vw 0;
}


.expand-icon{
    width: 3.2vw;
}

.expand-icon:hover{
    cursor: pointer;
}

.gallery-section{
    padding: 4vw 3vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 4vw;
}

.portfolio-img{
    width: 28.5vw;
    border-radius: 0.5vw;
    opacity: 0;
    object-fit: cover;
    clip-path: inset(2px 2px 2px 2px); 
    transition: opacity 1.6s ease-out;
    border-radius: 0.8vw;
}

.about-section{
    display: grid;
    grid-template-columns:2fr 1fr;
    padding: 4vw 3vw;
    gap: 6vw;
}

.about-section img {
    width: 100%;
    height: auto; 
    display: block; 
    opacity: 0.9;
    object-fit: cover;
    clip-path: inset(2px 2px 2px 2px); 
}

.about-nav{
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 6vw;
    border-bottom: solid 0.3vw;
}

.about-nav h3{
    margin-top: 0;
}

.about-nav h3:hover{
    cursor: pointer;
}

.active-section-link{
    text-decoration: underline;
    text-underline-offset: 2.1vw;
    text-decoration-thickness: 0.9vw;
}

.about-copy{
    margin: 0;
}

.about-left{
    display: flex;
    flex-direction: column;
    gap: 3vw;

}