/* Hide the default spinner arrows */
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -webkit-appearance: textfield;
}
::-webkit-resizer {
  background-color: transparent;
}
/* Hide the default spinner arrows */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Default */
:root {
  --forest: #121811;
  --green: #beef9e;
  --feta: #e8f9dc;
  --moss: #818d7a;
}

button {
  all: unset;
}

.green {
  color: var(--green);
}

.moss {
  color: var(--moss);
}

.white {
  color: var(--feta);
}

.fade-appear {
  opacity: 0;
}

h1,
h2,
h3,
h4,
p,
ul{
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: auto;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--forest);
  color: var(--feta);
  background-color: var(--forest);
  -webkit-font-smoothing: antialiased;
}

main {
  padding-left: clamp(30px, 3vw, 48px);
  padding-right: clamp(30px, 3vw, 48px);
  margin: 0 auto;
}

section {
  padding-top: clamp(60px, 6vw, 96px);
  padding-bottom: clamp(60px, 6vw, 96px);
}

svg {
  overflow: visible;
}

h1,
h2 {
  font-size: clamp(41px, 4.1vw, 65.6px);
  font-weight: 400;
  line-height: 1.2;
}

.mobile-menu-item,
h3 {
  font-size: clamp(31px, 3.1vw, 49.6px);
  font-weight: 400;
  line-height: 1.2;
}

.bold{
  font-weight: 500;
}

textarea,
button,
label,
input,
input::placeholder,
h4 {
  font-size: clamp(23px, 2.3vw, 36.8px);
  font-weight: 400;
  line-height: 1.2;
}

.btn-container,
.nav-right,
p,
li {
  font-size: clamp(13px, 1.3vw, 20.8px);
  font-weight: 300;
  line-height: 1.5;
}
li {
  display: list-item;
}

a {
  text-decoration: none;
  color: inherit;
}

.underline {
  text-decoration: underline;
  text-underline-offset:clamp(5px, 0.5vw, 8px);
  text-decoration-thickness: 1px;
}
.underline:hover {
  color: var(--feta);
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--green);
  border-radius: clamp(32px, 3.2vw, 51.2px);
  padding: clamp(7.5px, 0.75vw, 12px) clamp(12.5px, 1.25vw, 20px);
  color: var(--green);
  font-weight: 300;
  line-height: 1.5;
  gap: clamp(5px, 0.5vw, 8px);
}

.btn-container:hover {
  color: var(--feta);
  border: 1px solid var(--feta);
  cursor: pointer;
}
.btn-container:hover .arrow-icon {
  fill: var(--feta);
}
.arrow-icon {
  width: clamp(15px, 1.5vw, 24px);
  height: auto;
  fill: var(--green);
}

.button-segment .btn-container{
  background-color: var(--forest);
  color: var(--feta);
  border: 1px solid var(--feta);
}

.button-segment .btn-container:hover {
  color: var(--green);
  border: 1px solid var(--green);
}

.button-segment:hover .arrow-icon{
  fill: var(--green);
}

.button-segment .arrow-icon {
  width: clamp(20px, 2vw, 32px);
  height: auto;
  fill: var(--feta);
}

.line {
  height: 1px;
  background-color: var(--feta);
  opacity: 0.5;
}

.mobileHide {
  display: flex;
}

/* NAV */
nav {
  display: flex;
  background-color: var(--forest);
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
  padding: clamp(35px, 3.5vw, 56px) clamp(30px, 3vw, 48px);
  transition: all 0.6s ease;
  border-bottom: 1px solid var(--forest);
}

.nav-right {
  display: flex;
  gap: clamp(30px, 3vw, 48px);
  align-items: center;
  justify-content: flex-end;
}

.nav-left {
  display: flex;
  z-index: 2;
}

nav a:hover {
  color: var(--feta);
  cursor: pointer;
}

.logo {
  height: clamp(18px, 1.8vw, 28.8px);;
  width: auto;
  fill: var(--green);
}

/* Mobile menu  S */
.mobile-menu-modal {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--forest);
}

.mobile-menu-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.mobile-nav {
  display: none;
}
/* Mobile menu E*/

/* INTRO */
.intro {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

/* SLIDE GALLERY */
.slide-gallery {
}

.slide-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: clamp(9px, 0.9vw, 14.4px);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(
    to bottom,
    rgba(18, 24, 17, 0),
    rgba(18, 24, 17, 0.8)
  );
  pointer-events: none;
}

.image-container {
  position: relative;
}

.slide-icon-container {
  position: absolute;
  align-items: center;
  bottom: clamp(15px, 1.5vw, 24px);
  right: clamp(15px, 1.5vw, 24px);
  display: flex;
  gap: clamp(10px, 1vw, 16px);
  height: clamp(35px, 3.5vw, 56px);
}

.count {
  font-weight: 400;
}

.circle-left,
.circle-right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: clamp(35px, 3.5vw, 56px);
  width: clamp(35px, 3.5vw, 56px);
  border: 1px solid var(--feta);
  border-radius: 50%;
  background-color: rgb(18, 24, 17, 0.6);
  transition: background-color 0.3s ease;
}

.circle-left:hover,
.circle-right:hover {
  cursor: pointer;
  background-color: rgb(18, 24, 17, 1);
  border-color: var(--green);
}

.arrow-icon-right,
.arrow-icon-left {
  width: clamp(15px, 1.5vw, 24px);
  height: auto;
  fill: var(--feta);

}
.circle-right:hover .arrow-icon-right {
  fill: var(--green);
}

.circle-left:hover .arrow-icon-left {
  fill: var(--green) !important;
}

/* SERVICES */

.services-section{
  display: flex;
  flex-direction: column;
  gap: clamp(90px, 9vw, 144px);
  margin-bottom: clamp(60px, 6vw, 96px);
}

.service-info{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.accordion-section-grid{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: clamp(90px, 9vw, 96px);
  padding-left: clamp(60px, 6vw, 96px);
  padding-right: clamp(60px, 6vw, 96px);
}


/* accordion */
.accord-icon {
  width: clamp(12px, 1.2vw, 19.2px);
  height: auto;
  fill: var(--green);
  margin: 0 5px;
}

.accord-icon:hover {
  cursor: pointer;
}

.accordion-item {
  border-top: solid 1px var(--green);
  border-bottom: solid 1px var(--green);
  color: var(--green);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -.5px 0;
  padding: clamp(20px, 2vw, 32px) clamp(10px, 1vw, 16px);
  padding-right: 0;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-out;
  transform: translateZ(0);
  padding-left: clamp(10px, 1vw, 16px);
  padding-right: clamp(10px, 1vw, 16px);
}

.active {
  max-height: 100vw;
  transition: max-height 0.6s ease-in;
}

.accordion-content p {
  padding-top: clamp(30px, 3vw, 48px);
  padding-bottom: clamp(30px, 3vw, 48px);
}


.accordion-title-container{
  display: flex;
  align-items: end;
  gap: clamp(20px, 2vw, 32px);
}

.accord-numb{
  padding-bottom: clamp(1px, .1vw, 1.6px);
  font-weight: 500;
}

.number-key{
  position: absolute;
  align-items: center;
  bottom: clamp(15px, 1.5vw, 24px);
  right: clamp(15px, 1.5vw, 24px);
  display: flex;
}

.number-key-number{
  font-weight: 500;
}

.accordion-img-container {
  position: relative;
  border-radius: clamp(9px, .9vw, 14.4px);
  margin-top: clamp(-5px, .5vw, -80px);
  width: 100%;
  height: fit-content;
}

.accordion-img {
  display: block;
  object-fit: cover;
  border-radius: clamp(9px, .9vw, 14.4px);
  width: 100%; 
  height: auto; 
  position: relative;
}

/* QUOTE CALC */

.quote-info-section{
  display: flex;
  flex-direction: column;
  gap: clamp(90px, 9vw, 144px);
  margin-bottom: clamp(60px, 6vw, 96px);
  margin-top: clamp(60px, 6vw, 96px);
}

.quote-info-copy-section{
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: clamp(60px, 6vw, 96px);
}

.calculator-container{
  display: grid;
  grid-template-columns: 1fr;
  margin-left: clamp(60px, 6vw, 96px);
  margin-right: clamp(60px, 6vw, 96px);
  padding:clamp(60px, 6vw, 96px);
  border-radius: clamp(18px, 1.8vw, 288px);
  border: solid 1px var(--moss);
}

.calculator-container ::placeholder{
  text-align: end;
  opacity: 0.5;
}

.quote-calc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: clamp(30px, 3vw, 48px);
}

.contact-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: clamp(30px, 3vw, 48px);
}

.form-2section{
  display: flex;
  gap: 3vw;
  width: 100%;
}

.form-segment-2section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: clamp(10px, 1vw, 16px);
  border-bottom: solid var(--green) 1px;
  padding-left: 5px;
  width: 100%;
}

.quote-lengths-container{
  display: flex;
  gap: clamp(30px, 3vw, 64px);
}

.calculator-title{
  color: var(--moss);
  margin-left: clamp(60px, 6vw, 96px);
  margin-right: clamp(60px, 6vw, 96px);
  padding-bottom: clamp(10px, 1vw, 16px);
}

.form-segment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: clamp(10px, 1vw, 16px);
  border-bottom: solid var(--green) 1px;
  padding-left: 5px;
}

input {
  border: none;
  padding: clamp(10px, 1vw, 16px) clamp(5px, .5vw, 8px);
  border-radius: 0;
  background-color: var(--forest);
  color: var(--green);
  width: 100%;
}
input::placeholder {
  color: var(--green);
  border: none;
}
input:focus {
  outline: none;
}

label {
  margin: 0;
  padding: 0;
  color: var(--green);
}

.calc-input {
  width: 100%;
}

#quote-result {
  opacity: 1;
}

.estimate-result {
  padding:  0 clamp(5px, .5vw, 8px) clamp(10px, 1vw, 16px) clamp(5px, .5vw, 8px);
  border-bottom: solid 1px var(--green);
}

/* GALLERY */

.body-gallery{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: clamp(60px, 6vw, 96px);
  margin-top: clamp(60px, 6vw, 96px);
  gap: clamp(30px, 3vw, 48px);
}

.gallery-window {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}

.bg-wrapper {
  display: flex;
  gap: 60px;
  align-items: center;
}

.bg-img {
  flex: 0 0 calc((100% - 120px) / 3);
}

.image{
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: clamp(9px, .9vw, 14.4px);
}

.bg-icon-container{
  display: flex;
  gap: clamp(10px, 1vw, 16px);
  align-items: center;
  justify-content: center;
}

.bg-left {
  order: -1;
}

/* ABOUT */
.about-us-section{
  display: flex;
  flex-direction: column;
  gap: clamp(90px, 9vw, 144px);
}

.about-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: clamp(90px, 9vw, 96px);
  padding-left: clamp(60px, 6vw, 96px);
  padding-right: clamp(60px, 6vw, 96px);
}

.about-right{
  position: relative;
  border-radius: clamp(9px, .9vw, 14.4px);
  margin-top: clamp(-5px, .5vw, -80px);
  width: 100%;
  height: fit-content;
  position: relative;
}

.about-section img {
  display: block;
  object-fit: cover;
  border-radius: clamp(9px, .9vw, 14.4px);
  width: 100%; 
  height: auto; 
  position: relative;
}

.about-nav {
  display: flex;
  flex-direction: row;
  gap: clamp(60px, 6vw, 96px);
  border-bottom: solid 1px var(--green);
  color: var(--green);
}

.active-section-link {
  border-bottom: 4px solid var(--green);
  padding-bottom: clamp(10px, 1vw, 160px);
}

.about-left {
  display: flex;
  flex-direction: column;
  gap: clamp(30px, 3vw, 48px);
}

.jemma-nav-link:hover {
  cursor: pointer;
  opacity: 1;
  border-bottom: 4px solid var(--green);
  padding-bottom: clamp(10px, 1vw, 160px);
}

.team-nav-link:hover {
  cursor: pointer;
  opacity: 1;
  border-bottom: 4px solid var(--green);
  padding-bottom: clamp(10px, 1vw, 160px);
}

.jemma-nav-link {
  opacity: 0.5;
}

.team-nav-link {
  opacity: 0.5;
}

.active-section-link {
  color: var(--g);
  opacity: 1;
}

.about-us-section{
  margin-bottom: clamp(60px, 6vw, 96px);
  margin-top: clamp(60px, 6vw, 96px);
}

/* CONTACT */

.contact-us-section{
  margin-bottom: clamp(60px, 6vw, 96px);
  margin-top: clamp(60px, 6vw, 96px);
  display: flex;
  flex-direction: column;
  gap: clamp(90px, 9vw, 144px);
}

.form-container{
  padding-left: clamp(120px, 12vw, 192px);
  padding-right: clamp(120px, 12vw, 192px);
}

.radio-button {
  display: flex;
  align-items: center;
  gap:  clamp(30px, 3vw, 48px);
  border-bottom: var(--green) solid 1px;
  padding: clamp(10px, 1vw, 16px) clamp(5px, .5vw, 8px);
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: clamp(15px, 1.5vw, 24px);
}

input[type="radio"],
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: clamp(15px, 1.5vw, 24px);
  height: clamp(15px, 1.5vw, 24px);
  border: solid 1px var(--green);
  border-radius: 50%;
  background-color: var(--forest);
}
input[type="radio"]:checked,
input[type="checkbox"]:checked {
  background-color: var(--green);
}

textarea {
  width: 100%;
  border: none;
  resize: vertical;
  max-width: 100%;
  border-radius: 0;
  background-color: var(--forest);
  border: none;
  border-bottom: solid 1px var(--green);
  padding: clamp(10px, 1vw, 16px) clamp(5px, .5vw, 8px);
  color: var(--feta);
}
textarea::placeholder {
  color: var(--feta);
  border: none;
}
textarea:focus {
  outline: none;
}

.appear {
  display: flex;
}

/* FOOTER */

footer {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  padding: clamp(35px, 3.5vw, 56px) clamp(30px, 3vw, 48px);
  border-top: 1px solid var(--green);
}

.social-link{
  display: flex;
  gap: clamp(5px, .5vw, 8px);
  align-items: center;
}

.social-link-icon{
  fill: var(--feta);
  height: clamp(12px, 1.2vw, 19.2px);
  width: auto;
}

.footer-left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: clamp(12px, 1.2vw, 19.2px);
}

.footer-mid{
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 1vw, 16px);
}

.social-link:hover .social-link-icon {
  color: var(--green);
  fill: var(--green);
}

.social-link-item:hover{
  color: var(--green);
}

/* FAQ */

.faq-section-container{
  margin-bottom: clamp(60px, 6vw, 96px);
  margin-top: clamp(60px, 6vw, 96px);
  display: flex;
  flex-direction: column;
  gap: clamp(90px, 9vw, 144px);
}

.privacy-policy-section{
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: clamp(60px, 6vw, 96px) clamp(30px, 18vw, 288px);
  gap: clamp(15px, 1.5vw, 24px);
}

.bullet{
  padding-left: clamp(30px, 3vw, 48px);
}

@media screen and (max-width: 1000px) {

  .radio-button {
    align-items: start;
    flex-direction: column;
  }
  .button-container {
    flex-direction: column;
  }

  .intro {
    grid-template-columns: 1fr;
  }

}

@media screen and (max-width: 750px) {

  .privacy-policy-section{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: clamp(60px, 6vw, 96px) 0;
    gap: clamp(15px, 1.5vw, 24px);
  }
  .form-2section{
    display: flex;
    flex-direction: column;
  }

  .intro {
    grid-template-columns: 1fr;
  }

  .service-info{
    grid-template-columns: 1fr;
  }

  .accordion-section-grid{
    grid-template-columns: 1fr;
    padding-left: 0;
    padding-right: 0;
  }

  .accordion-content.accordion-content-withimage {
    grid-template-columns: 1fr;
    gap: 0px;
  }

  .quote-info-copy-section{
    grid-template-columns: 1fr;
    gap: clamp(60px, 6vw, 96px);
  }

  .calculator-container{
    margin-left: 0;
    margin-right: 0;
  }

  .quote-calc{
    gap: 60px;
  }


  .quote-lengths-container{
    flex-direction: column;
  }

  .calculator-title{
    margin-left: 0;
    margin-right: 0;
  }

  .bg-img {
    flex: 0 0 calc((100%));
  }
  
  .body-gallery{
    margin-bottom: 30px;
    margin-top: 30px;
    gap: 15px;
  }

  .about-section {
    grid-template-columns: 1fr;
    gap: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .form-container{
    padding-left: 0;
    padding-right: 0;
  }

  .active {
    max-height: 100%;
    transition: max-height 0.6s ease-in;
  }
  
  .mobileHide {
    display: none;
  }
  .mobile-nav {
    display: flex;
  }
  .mobile-icon {
    height: 26px;
    width: auto;
    z-index: 2;
  }

  .mobile-icon:hover {
    cursor: pointer;
  }

  footer {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .footer-left{
    order: 2;
  }
}
